.image {
  border: 2px solid black;
  border-radius: 11px;
  height: 400px;
  width: 400px;
}

.section {
  text-align: center;
}
@media screen and (min-width:300px) and (max-width: 768px) {
    .container{
      height: 20rem;
      width: 100%;
      
    }
} 
