.navbar {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    margin: 0;
    align-items: center;
    background-color: rgb(9, 9, 9);
    color: white;
    height: 80px;
    font-size: 20px;
    font-weight: 800;
     /* position: sticky; */
    /* top: 0;  */
    align-items: center;
    

}

.logo {
    margin-left: 20px;
}

.logImage {
    height: 60px;
    width: 80px;
}

.navlist {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;

}


.loginBtn {
    margin-right: 20px;
}