.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  background-color: rgb(9, 9, 9);
  color: white;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
  z-index: 1000;
}

.logImage {
  height: 3rem;
  width: 5rem;
  margin-left: 2rem;
}

.navlist {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  list-style: none;
}

.navlist > li > a {
  color: white;
  text-decoration: none;
}

/* .navlist li:hover::before{
content: ;
} */

.loginBtn {
  margin-top: 0.4rem;
  height: 2.5rem;
  width: 6.3rem;
  background-color: red;
  padding: 0.4rem;
  color: white;
  border-radius: 10px;
  border: none;
  margin-right: 3rem;
}

.manubar {
  display: none;
}

/* media Queries */

@media screen and (min-width:300px) and (max-width: 768px) {
  .navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
  }
  .navlist {
    display: none;
  }
  .loginBtn {
    display: none;
  }

  .manubar {
    display: block;
  }

  .closeIcon {
    display: none;
  }
  .menu {
    font-size: 3rem;
    margin-right: 2rem;
  }
  .logImage {
    margin-left: 0.4rem;
  }

  .active .menu {
    display: none;
  }
  .active .closeIcon {
    display: block;
    margin-right: 3rem;
    font-size: 2.4rem;
    background-color: transparent;
  }

  .active .navlist {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(34, 34, 34);
    position: absolute;
    top: 3.5rem;

    text-align: center;
    right: 0;
    height: 100vh;
    box-shadow: 0 40px 60px;
    padding: 40px 10px 0 0;
  }
  .active .navlist li {
    width: 30px;
    margin: auto;
    text-align: center;
    margin-bottom: -10px;
    padding-left: 40px;
    margin-top: 0;
    margin-right: 10rem;
    font-size: 1.2rem;
  }
  .navlist li a:hover {
    color: wheat;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
  }

  .active .loginBtn {
    display: block;
    z-index: 999;
    position: absolute;
    top: 25rem;
    right: 3.5rem;
    font-size: 1rem;
  
  }
}