.navbar{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    margin: 0;
    align-items: center;
    border: 1px solid red;
    background-color: rgb(151, 234, 151);
    color: white;

}   

.logo{
    margin-left: 20px;
}


.navlist{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;

}


.loginBtn{
    margin-right: 20px;
}
