
 
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #461616;
    border-radius: 10px;
    background-color: black;
  }

  
    .loginContainer {

    padding: 20px; 

    
    display: flex;
 
    align-items: center;
    

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}   

.loginButton {
    background-color: red; /* Set button color to red */
    color: white; /* Set text color to white */
}

