  /* .footer-healthy-living {
    display: flex;
    align-items: center;
    text-align:center;
     
  }
  .footer-something{
    text-align:left;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    border-radius: 10px; 
    
    
  } */
  
   /* .footer-left-content {
    width: 30%;
    
  }
   
   .footer-right-content {
    width: 30%;
    
  } 
  
   .footer-content {
    margin-bottom: 1rem;
    
  }  
  
  .social-media-icons {
    display: flex;
    margin-inline-start: 70px;
    
    
  } */
  
  /* .social-media-icons a {
    margin-right: 1rem;
    background-color: white;
    color: red;
    margin-right: 20px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    
  } */
    
    
  
  
  /* ul {
    list-style-position: initial;
    
    list-style: none;
    margin: 0;
    padding: 0;
    
  } */
  
   /* ul li {
    margin-bottom: 0;
   padding-left: 10px;
   margin-bottom: 5px;
   position: relative;
   display:flex 
   
    
  } */
  /* .footer{
    background-color:rgb(56, 2, 2);
    
  
  } */
  .gym{
    color: rgb(208, 13, 13);
    text-align: center;
    
    
  }
/* 
  li:before {
    content: "\2022";
    position: absolute;
    left: 0;
  } */
  .healthy{
      text-align: left;
  }
  .sty{
    text-align: left;
  }
 .last{
  
  text-align: left;
}  
  

   
   

    .footer {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-content {
    flex-basis: 23%;
    margin-bottom: 40px;
  }
  
  .footer-content h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-content li {
    margin-bottom: 10px;
  }
  
  .social-media-icons a {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-media-icons a:hover {
    color: #f8b739;
  }
  
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .footer-content {
      flex-basis: 100%;
      text-align: center;
    }
  }
   