.homeContainer{
    position: relative;
    background-color: black;
}



.imageLink{
    width: 88%;
    height: 100vh;
}

.contentContainer{
    position: absolute;
    top: 8rem;
    left: 5rem;
    color: white;

}

.contentContainer span{
    color: red;
}




@media screen and (max-width: 768px) {

.imageLink{
    height: 15rem;
}

.contentContainer{
    position: absolute;
    top: 4rem;
    left: 1rem;
}
.contentContainer h1{
    font-size: 1rem;
}


}